<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.friendstivals"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="preferExternal"
    >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Friendstivals"
            android:label="@string/title_activity_friendstivals" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Friendstivals" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:label="@string/gps_service"
            android:name="com.friendstivals.gpservice.GPService">
        </service>
        <service
            android:label="@string/gps_service"
            android:name="com.friendstivals.friendservice.FriendService">
        </service>
        <activity
            android:name=".templates.customDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".FestivalSelector"
            android:label="FestivalSelector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FriendsList"
            android:label="FriendsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomMap"
            android:label="CustomMap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".blacklist.BlackList"
            android:label="BlackList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".blacklist.AddBlackList"
            android:label="AddBlackList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InviteView"
            android:label="InviteView"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Extras"
            android:label="Extras"
            android:screenOrientation="portrait" />
        <activity
            android:name=".artist.LineUp"
            android:label="LineUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".playlist.Playlist"
            android:label="Playlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info"
            android:label="Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationMap"
            android:label="LocationMap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:label="SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Messages"
            android:label="Messages"
            android:noHistory="true"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait" />

        <uses-library android:name="com.google.android.maps" >
        </uses-library>
    </application>

</manifest>